<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>创建监控主机</title>
</head>
<body>
<table align="center" width="500" border="0">
    <form>
        主机名：
        <input type="text" name="host" /><br>
        接口IP：
        <input type="text" name="ip" /><br>
        接口类型：
        <form>
            <select name="type">
                <option value="1">agent</option>
                <option value="2">SNMP</option>
                <option value="3">IPMI</option>
                <option value="4">JMX</option>
            </select>
        </form><br>
        主机组：
        <input type="number" name="groupid" /><br>
        主机模板：
        <input type="number" name="templateid" /><br>
        资源模式：
        <input type="number" name="inventory_mode" /><br>
        资源信息：
        <input type="text" name="macaddress_a" />
        <input type="text" name="macaddress_b" />
    </form>
</table>

</body>
</html>